---
// mostly following:
// https://carbondesignsystem.com/developing/web-components-tutorial/step-1/
// (not interested in steps 2-5 atm)
//
// then making a kitchen sink playground of components from:
// https://web-components.carbondesignsystem.com/
//
// note: there are feature flags for higher contrast, more accessible components
// solves some usability gripes i had
// like with radio tiles not showing radio buttons
// https://carbondesignsystem.com/components/overview/feature-flags/
// the feature flags will become default in v12
// but for now in v11, they're only available in react components (not web components)
// i can probably monkey patch these if needed
// https://react.carbondesignsystem.com/?path=/docs/getting-started-feature-flags--overview#turning-on-feature-flags-in-javascriptreact

let title = "Hello World";

// browse all icons:
// https://carbondesignsystem.com/elements/icons/library/
//
// note, via: https://carbondesignsystem.com/elements/icons/usage/
// "16px and 20px icons are optimized to feel balanced when paired with 14px and 16px IBM Plex.
// Use 24px and 32px when larger icons are needed."
import notificationIconSvgString from "@carbon/icons/svg/32/notification.svg?raw";
import avatarIconSvgString from "@carbon/icons/svg/32/user--avatar.svg?raw";
import switcherIconSvgString from "@carbon/icons/svg/32/switcher.svg?raw";
import sunIconSvgString from "@carbon/icons/svg/32/sun.svg?raw";
import brightnessIconSvgString from "@carbon/icons/svg/32/brightness-contrast.svg?raw";
import moonIconSvgString from "@carbon/icons/svg/32/moon.svg?raw";
import arrowRightIconSvgString from "@carbon/icons/svg/32/arrow--right.svg?raw";
---

<script>
  import "@carbon/web-components/es/components/checkbox/index";
  // import './checkbox.js';
  // import './checkbox-group.js';
  // import './checkbox-skeleton.js';
  import "@carbon/web-components/es/components/content-switcher/index";
  // import '../tooltip/tooltip.js';
  // import '../tooltip/tooltip-content.js';
  // import './content-switcher.js';
  // import './content-switcher-item.js';
  import "@carbon/web-components/es/components/skip-to-content/index";
  // import './skip-to-content.js';
  import "@carbon/web-components/es/components/ui-shell/index";
  // import './header.js';
  // import './header-global-action.js';
  // import './header-menu.js';
  // import './header-menu-button.js';
  // import './header-menu-item.js';
  // import './header-name.js';
  // import './header-nav.js';
  // import './header-nav-item.js';
  // import './header-panel.js';
  // import './header-side-nav-items.js';
  // import './side-nav.js';
  // import './side-nav-divider.js';
  // import './side-nav-items.js';
  // import './side-nav-link.js';
  // import './side-nav-menu.js';
  // import './side-nav-menu-item.js';
  // import './switcher.js';
  // import './switcher-divider.js';
  // import './switcher-item.js';
  import "@carbon/web-components/es/components/text-input/index";
  // import './text-input.js';
  // import './text-input-skeleton.js';
  import "@carbon/web-components/es/components/select/index";
  // import './select.js';
  // import './select-item.js';
  // import './select-item-group.js';
  // import './select-skeleton.js';
  import "@carbon/web-components/es/components/form/index";
  // import './form-item.js';
  import "@carbon/web-components/es/components/link/index";
  // import './link.js';
  import "@carbon/web-components/es/components/inline-loading/index";
  // import './inline-loading.js';
  import "@carbon/web-components/es/components/button/index";
  // import './button.js';
  // import './button-set.js';
  // import './button-skeleton.js';
  import "@carbon/web-components/es/components/menu-button/index";
  // import './menu-button.js';
  import "@carbon/web-components/es/components/modal/index";
  // import './modal.js';
  // import './modal-body.js';
  // import './modal-body-content.js';
  // import './modal-close-button.js';
  // import './modal-footer.js';
  // import './modal-footer-button.js';
  // import './modal-header.js';
  // import './modal-heading.js';
  // import './modal-label.js';
  import "@carbon/web-components/es/components/number-input/index";
  // import './number-input.js';
  // import './number-input-skeleton.js';
  import "@carbon/web-components/es/components/progress-bar/index";
  // import './progress-bar.js';
  import "@carbon/web-components/es/components/radio-button/index";
  // import './radio-button.js';
  // import './radio-button-group.js';
  // import './radio-button-skeleton.js';
  import "@carbon/web-components/es/components/structured-list/index";
  // import './structured-list.js';
  // import './structured-list-body.js';
  // import './structured-list-cell.js';
  // import './structured-list-head.js';
  // import './structured-list-header-cell.js';
  // import './structured-list-header-cell-skeleton.js';
  // import './structured-list-header-row.js';
  // import './structured-list-row.js';
  import "@carbon/web-components/es/components/tabs/index";
  // import './tabs.js';
  // import './tab.js';
  // import './tab-skeleton.js';
  // import './tabs-skeleton.js';
  import "@carbon/web-components/es/components/tag/index";
  // import './tag.js';
  // import './dismissible-tag.js';
  // import './tag-skeleton.js';
  // import './selectable-tag.js';
  // import './operational-tag.js';
  import "@carbon/web-components/es/components/textarea/index";
  // import './textarea.js';
  // import './textarea-skeleton.js';
  import "@carbon/web-components/es/components/tile/index";
  // import './clickable-tile.js';
  // import './expandable-tile.js';
  // import './radio-tile.js';
  // import './selectable-tile.js';
  // import './tile.js';
  // import './tile-group.js';
  import "@carbon/web-components/es/components/toggle-tip/index";
  // import './toggletip.js';
  import "@carbon/web-components/es/components/file-uploader/index";
  // import './file-uploader.js';
  // import './file-uploader-item.js';
  // import './file-uploader-drop-container.js';
  // import './file-uploader-button.js';
  // import './file-uploader-skeleton.js';
  import "@carbon/web-components/es/components/notification/index";
  // import './inline-notification.js';
  // import './toast-notification.js';
  // import './actionable-notification.js';
  // import './actionable-notification-button.js';
  import "@carbon/web-components/es/components/stack/index";
  // import './stack.js';
  import "@carbon/web-components/es/components/date-picker/index";
  // import './date-picker.js';
  // import './date-picker-input.js';
  // import './date-picker-input-skeleton.js';
  import "@carbon/web-components/es/components/grid/index";
  // import './grid.js';
  // import './column.js';
  // import './column-hang.js';

  const handleGlobalActionClick = (ev) => {
    const targetPanelId = ev.currentTarget.getAttribute("panel-id");
    const panels = document.querySelectorAll("cds-header-panel");
    // check to see if other panels are open and close them
    panels.forEach((panel) => {
      if (panel.id !== targetPanelId) {
        panel.expanded = false;
      }
    });
  };
  const globalActions = document.querySelectorAll("cds-header-global-action");
  [...globalActions].forEach((action) =>
    action.addEventListener("click", handleGlobalActionClick),
  );

  const handleSwitch = (ev) => {
    // Applies new theme or defers to system preferences by removing theme
    switch (ev.detail.item.value) {
      case "light":
        document.body.classList.remove("g100");
        document.body.classList.add("g10");
        break;
      case "dark":
        document.body.classList.remove("g10");
        document.body.classList.add("g100");
        break;
      default:
        document.body.classList.remove("g100");
        document.body.classList.add("g10");
      // document.body.classList.remove("g10");
      // document.body.classList.remove("g100");
    }
  };
  document
    .querySelector(".theme-selector")
    .addEventListener("cds-content-switcher-selected", handleSwitch);

  const handleHeaderCompliment = (ev) => {
    document
      .querySelector("cds-header")
      .classList.toggle("compliment", ev.target.checked);
  };
  document
    .querySelector(".theme-header__compliment")
    .addEventListener("cds-checkbox-changed", handleHeaderCompliment);
</script>

<style lang="scss">
  @use "@carbon/styles/scss/reset";
  @use "@carbon/styles/scss/themes";
  @use "@carbon/styles/scss/theme" as *;
  @use "@carbon/styles/scss/spacing" as *;
  @use "@carbon/styles/scss/type" as *;

  *:not(:defined) {
    /* suppress custom elements until styles are loaded */
    display: none;
  }

  .app {
    display: grid;
    grid-template-rows: $spacing-09 1fr;
    height: 100vh;
    overflow: hidden;
  }

  main {
    height: 100%;
    overflow-y: auto;
  }

  :root {
    @include theme(themes.$g10);

    /*
    @media (prefers-color-scheme: dark) {
      @include theme(themes.$g100);
    }
    */
  }

  :root .compliment {
    @include theme(themes.$g100);

    /*
    @media (prefers-color-scheme: dark) {
      @include theme(themes.$g10);
    }
    */
  }

  .g10 {
    @include theme(themes.$g10);
  }

  .g100 {
    @include theme(themes.$g100);
  }

  .g10 .compliment {
    @include theme(themes.$g100);
  }

  .g100 .compliment {
    @include theme(themes.$g10);
  }

  .action-icon {
    width: 1.25rem;
    height: 1.25rem;
    fill: $text-primary;
  }

  .header-panel__content {
    display: flex;
    flex-direction: column;
    gap: $spacing-05;
    padding: $spacing-05;
  }

  .header-panel__title {
    @include type-style("productive-heading-02");
  }

  .theme-selector__icon {
    width: 1.25rem;
    height: 1.25rem;
    fill: $text-primary;
  }

  cds-link {
    fill: currentColor;
  }

  cds-header-panel cds-content-switcher-item[selected] .theme-selector__icon {
    /* switch icon color when selected */
    fill: $background;
  }

  main > * {
    padding: 1rem;
  }

  cds-content-switcher {
    /* patching overflow behavior of content-switcher-items */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  }

  cds-toast-notification {
    /* patching non-responsive behavior of unconstrained 18rem width */
    max-inline-size: 100%;
  }

  cds-date-picker-input input {
    /* 
     * max-inline-size: 100%;
     *
     * trying to patch non-responsive behavior of unconstrained 18rem width 
     * but the child input is in the shadow dom, so i can't restyle it externally
     *
     * instead, must monkey patch this file:
     * node_modules/@carbon/web-components/es/components/date-picker/date-picker-input.js
     * insert after line 210, adding to the <input> element in render():
     * `style="inline-size:100%;"`
     */
  }
</style>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {
      /*
    todo, for full-sized navbar: 
    https://webkit.org/blog/7929/designing-websites-for-iphone-x/
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    the harder part is knowing where to put padding `env(safe-area-inset-left/right)`
    */
    }
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link rel="icon" href="data:," />
  </head>
  <body class="app">
    <header>
      <cds-header class="compliment">
        <cds-skip-to-content href="#main-content"></cds-skip-to-content>
        <cds-header-menu-button
          button-label-active="Close menu"
          button-label-inactive="Open menu"></cds-header-menu-button>

        <cds-header-name href="#">{title}</cds-header-name>

        <cds-header-nav menu-bar-label={title}>
          <cds-header-nav-item href="#">Repositories</cds-header-nav-item>
        </cds-header-nav>

        <cds-side-nav
          is-not-persistent
          aria-label="Side navigation"
          collapse-mode="${SIDE_NAV_COLLAPSE_MODE.RESPONSIVE}"
        >
          <cds-side-nav-items>
            <cds-side-nav-link href="#"> Repositories </cds-side-nav-link>
          </cds-side-nav-items>
        </cds-side-nav>

        <div class="cds--header__global">
          <cds-header-global-action
            aria-label="Notifications"
            class="notification"
            panel-id="notification-panel"
          >
            <div
              class="action-icon"
              slot="icon"
              set:html={notificationIconSvgString}
            />
          </cds-header-global-action>
          <cds-header-global-action
            aria-label="User Profile"
            class="user-avatar"
            panel-id="user-profile-panel"
          >
            <div
              class="action-icon"
              slot="icon"
              set:html={avatarIconSvgString}
            />
          </cds-header-global-action>
          <cds-header-global-action
            aria-label="App Switcher"
            class="app-switcher"
            panel-id="app-switcher-panel"
          >
            <div
              class="action-icon"
              slot="icon"
              set:html={switcherIconSvgString}
            />
          </cds-header-global-action>

          <cds-header-panel
            id="notification-panel"
            aria-label="Notification Panel">Notification Panel</cds-header-panel
          >
          <cds-header-panel
            id="user-profile-panel"
            aria-label="User profile Panel"
          >
            <div class="header-panel__content">
              <h2 class="header-panel__title">User profile Panel</h2>

              <cds-content-switcher value="system" class="theme-selector">
                <cds-content-switcher-item icon value="light">
                  <div
                    class="theme-selector__icon theme-selector__icon--light"
                    set:html={sunIconSvgString}
                  />
                  <span slot="tooltip-content">Light theme</span>
                </cds-content-switcher-item>
                <cds-content-switcher-item icon value="system">
                  <div
                    class="theme-selector__icon theme-selector__icon--system"
                    set:html={brightnessIconSvgString}
                  />
                  <span slot="tooltip-content">System theme</span>
                </cds-content-switcher-item>
                <cds-content-switcher-item icon value="dark">
                  <div
                    class="theme-selector__icon theme-selector__icon--dark"
                    set:html={moonIconSvgString}
                  />
                  <span slot="tooltip-content">Dark theme</span>
                </cds-content-switcher-item>
              </cds-content-switcher>

              <cds-checkbox
                id="theme-header__compliment"
                class="theme-header__compliment"
                checked
                name="theme-header__compliment"
                >Global header reverse theme</cds-checkbox
              >
            </div>
          </cds-header-panel>
          <cds-header-panel
            id="app-switcher-panel"
            aria-label="App switcher Panel">App switcher Panel</cds-header-panel
          >
        </div>
      </cds-header>
    </header>
    <main id="main-content">
      <cds-tabs value="all" type="contained">
        <cds-tab id="tab-one" target="panel-one" value="one"
          >Tab label 1</cds-tab
        >
        <cds-tab id="tab-two" target="panel-two" value="two">
          Tab label 2
        </cds-tab>
        <cds-tab
          id="tab-three"
          target="panel-three"
          value="three"
          disabled="true"
        >
          Tab label 3
        </cds-tab>
        <cds-tab id="tab-four" target="panel-four" value="four"
          >Tab label 4</cds-tab
        >
        <cds-tab id="tab-five" target="panel-five" value="five">
          Tab label 5
        </cds-tab>
      </cds-tabs>
      <div style="flex:1;align-self:stretch;padding:1rem;">
        <div id="panel-one" role="tabpanel" aria-labelledby="tab-one" hidden="">
          Tab Panel 1
        </div>
        <div id="panel-two" role="tabpanel" aria-labelledby="tab-two" hidden="">
          Tab Panel 2
        </div>
        <div
          id="panel-three"
          role="tabpanel"
          aria-labelledby="tab-three"
          hidden=""
        >
          Tab Panel 3
        </div>
        <div
          id="panel-four"
          role="tabpanel"
          aria-labelledby="tab-four"
          hidden=""
        >
          Tab Panel 4
        </div>
        <div
          id="panel-five"
          role="tabpanel"
          aria-labelledby="tab-five"
          hidden=""
        >
          Tab Panel 5
        </div>
      </div>

      <div>
        <cds-content-switcher
          style={"" /*"display:flex;max-width:100%;overflow:hidden;"*/}
          value="first"
        >
          <cds-content-switcher-item value="first">
            First section
          </cds-content-switcher-item>
          <cds-content-switcher-item value="second">
            Second section with a really long name
          </cds-content-switcher-item>
          <cds-content-switcher-item
            class="cds--text-truncate--end"
            value="third"
          >
            Third section
          </cds-content-switcher-item>
        </cds-content-switcher>
      </div>

      {
        /* too aggressive with focus stealing imo
      <div>
        <cds-actionable-notification
          title="Notification title"
          subtitle="Subtitle text goes here"
          kind="error"
        >
          <cds-actionable-notification-button slot="action"
            >Action</cds-actionable-notification-button
          >
        </cds-actionable-notification>
      </div>
	*/
      }

      <div>
        <cds-toast-notification
          title="Notification title"
          subtitle="Subtitle text goes here"
          caption="00:00:00 AM"
          role="status"
          timeout="0"
          kind="error"
        >
        </cds-toast-notification>
      </div>

      <cds-form-item>
        <cds-text-input
          {/* inline="" */}
          {/* helper-text="Helper text" */}
          invalid-text="Error message goes here"
          label="Label text"
          max-count="100"
          placeholder="Placeholder text"
          size="md"
          type="text"
          value=""
          warn-text="Warning message that is really long can wrap to more lines but should not be excessively long."
        >
        </cds-text-input>
      </cds-form-item>

      <cds-date-picker
        allow-input="true"
        close-on-select="true"
        date-format="m/d/Y"
        max-date=""
        min-date=""
      >
        <cds-date-picker-input
          label-text="Date Picker label"
          placeholder="mm/dd/yyyy"
          size="md"
          warn-text=""
        >
        </cds-date-picker-input>
      </cds-date-picker>

      <div>
        <cds-date-picker
          allow-input="true"
          close-on-select="true"
          date-format="m/d/Y"
          max-date=""
          min-date=""
        >
          <cds-date-picker-input
            kind="single"
            label-text="Date Picker label"
            placeholder="mm/dd/yyyy"
            size="md"
            warn-text=""
          >
          </cds-date-picker-input>
        </cds-date-picker>
      </div>

      <cds-form-item>
        <cds-select
          inline=""
          helper-text="Optional helper text"
          invalid-text="Error message"
          label-text="Select an option"
          placeholder=""
          size="md"
          warn-text="Warning message"
          value=""
        >
          <cds-select-item value=""></cds-select-item>
          <cds-select-item value="all"
            >An example option that is really long to show what should be done
            to handle long text</cds-select-item
          >
          <cds-select-item value="cloudFoundry">Option 2</cds-select-item>
          <cds-select-item value="staging">Option 3</cds-select-item>
          <cds-select-item value="dea">Option 4</cds-select-item>
        </cds-select>
      </cds-form-item>

      <cds-link href="#">
        Some Link
        <Fragment set:html={arrowRightIconSvgString} />
      </cds-link>

      <div>
        <cds-link href="#">
          Goto Some Link <svg
            focusable="false"
            preserveAspectRatio="xMidYMid meet"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            aria-hidden="true"
            width="16"
            height="16"
            viewBox="0 0 16 16"
            slot="icon"
            ><path
              d="M9.3 3.7L13.1 7.5 1 7.5 1 8.5 13.1 8.5 9.3 12.3 10 13 15 8 10 3z"
            ></path></svg
          >
        </cds-link>
      </div>

      <p>
        lorem ipsum
        <cds-link inline="" href="#">an inline link</cds-link> lorem ipsum why is
        the inline link smaller font size reduced?
      </p>

      <cds-button kind="secondary" id="cancel"> Cancel </cds-button>
      <cds-button id="submit">Submit</cds-button>
      <cds-inline-loading
        controlled=""
        style="display:none;margin-left:1rem"
        icon-description="Submitting"
        aria-live="off"
        success-delay="2000"
      >
        Submitting
      </cds-inline-loading>

      <cds-menu-button
        label="Menu Button"
        kind="primary"
        menu-alignment="bottom"
        size="lg"
        tab-index=""
      >
        <cds-menu>
          <cds-menu-item label="First action"></cds-menu-item>
          <cds-menu-item
            label="Second action that is a longer item to test overflow and title."
          ></cds-menu-item>
          <cds-menu-item label="Third action" disabled="true"></cds-menu-item>
        </cds-menu>
      </cds-menu-button>

      <cds-modal>
        <cds-modal-header>
          <cds-modal-close-button></cds-modal-close-button>
          <cds-modal-label>Account resources</cds-modal-label>
          <cds-modal-heading>Add a custom domain</cds-modal-heading>
        </cds-modal-header>
        <cds-modal-body>
          <cds-modal-body-content description="">
            Custom domains direct requests for your apps in this Cloud Foundry
            organization to a URL that you own. A custom domain can be a shared
            domain, a shared subdomain, or a shared domain and host.
          </cds-modal-body-content>
          <cds-form-item>
            <cds-text-input placeholder="e.g. github.com" label="Domain name">
            </cds-text-input>
          </cds-form-item>
          <cds-select label-text="Domain name" placeholder="US South">
            <cds-select-item value="us-south">Option 1</cds-select-item>
            <cds-select-item value="us-east">Option 2</cds-select-item>
          </cds-select>
        </cds-modal-body>
        <cds-modal-footer>
          <cds-modal-footer-button kind="secondary" data-modal-close=""
            >Cancel</cds-modal-footer-button
          >
          <cds-modal-footer-button>Add</cds-modal-footer-button>
        </cds-modal-footer>
      </cds-modal>
      <cds-button>Launch modal</cds-button>

      <cds-form-item>
        <cds-number-input
          value="50"
          min="0"
          max="100"
          step="1"
          label="number-input label"
          helper-text="Optional helper text"
          size="md"
        >
        </cds-number-input>
      </cds-form-item>

      <div>
        <cds-progress-bar
          max="100"
          label="Progress bar label"
          helper-text="Optional helper text"
          size="big"
          status="active"
          type="default"
          value="75"
        >
        </cds-progress-bar>
      </div>

      <cds-radio-button-group
        legend-text="Group label"
        name="radio-group"
        value="radio-1"
        orientation="vertical"
      >
        <cds-radio-button label-text="Radio button label" value="radio-1"
        ></cds-radio-button>
        <cds-radio-button label-text="Radio button label" value="radio-2"
        ></cds-radio-button>
        <cds-radio-button label-text="Radio button label" value="radio-3"
        ></cds-radio-button>
      </cds-radio-button-group>

      <div>
        <cds-structured-list>
          <cds-structured-list-head>
            <cds-structured-list-header-row>
              <cds-structured-list-header-cell>
                ColumnA
              </cds-structured-list-header-cell>
              <cds-structured-list-header-cell>
                ColumnB
              </cds-structured-list-header-cell>
              <cds-structured-list-header-cell>
                ColumnC
              </cds-structured-list-header-cell>
            </cds-structured-list-header-row></cds-structured-list-head
          >
          <cds-structured-list-body>
            <cds-structured-list-row>
              <cds-structured-list-cell>Row 1</cds-structured-list-cell>
              <cds-structured-list-cell>Row 1</cds-structured-list-cell>
              <cds-structured-list-cell>
                Lorem ipsum dolor sit amet, shorter words adipiscing elit. Nunc
                dui magna, finibus id tortor sed, aliquet bibendum augue. Aenean
                posuere sem vel euismod dignissim. Nulla ut cursus dolor.
                shorter words vulputate nisl a porttitor interdum.</cds-structured-list-cell
              >
            </cds-structured-list-row>
            <cds-structured-list-row>
              <cds-structured-list-cell>Row 2</cds-structured-list-cell>
              <cds-structured-list-cell>Row 2</cds-structured-list-cell>
              <cds-structured-list-cell>
                Lorem ipsum dolor sit amet, shorter words adipiscing elit. Nunc
                dui magna, finibus id tortor sed, aliquet bibendum augue. Aenean
                posuere sem vel euismod dignissim. Nulla ut cursus dolor.
                shorter words vulputate nisl a porttitor interdum.</cds-structured-list-cell
              >
            </cds-structured-list-row>
          </cds-structured-list-body>
        </cds-structured-list>
      </div>

      <div>
        <cds-tag type="blue" title="Clear filters" size="md">
          Tag content with a long text description
        </cds-tag>
        <cds-tag type="magenta" title="Clear filters" size="md"
          >Tag content</cds-tag
        ><cds-tag type="cyan" title="Clear filters" size="md"
          >Tag content</cds-tag
        ><cds-tag type="blue" title="Clear filters" size="md"
          >Tag content</cds-tag
        ><cds-tag type="high-contrast" title="Clear filters" size="md"
          >Tag content</cds-tag
        ><cds-tag type="outline" title="Clear filters" size="md"
          >Tag content</cds-tag
        ><cds-tag type="gray" title="Clear filters" size="md"
          >Tag content</cds-tag
        >
      </div>

      <cds-form-item>
        <cds-textarea
          enable-counter=""
          counter-mode=""
          helper-text="TextArea helper text"
          invalid-text="Error message that is really long can wrap to more lines but should not be excessively long."
          label="TextArea label"
          value=""
          warn-text="This is a warning message."
          max-count="500"
          placeholder=""
          rows="4"
          cols="0"
        >
        </cds-textarea>
      </cds-form-item>

      <cds-tile-group>
        <legend slot="legend">Radio tile group</legend>
        <cds-radio-tile> Option 1 </cds-radio-tile>
        <cds-radio-tile selected="true"> Option 2 </cds-radio-tile>
        <cds-radio-tile> Option 3 </cds-radio-tile>
      </cds-tile-group>

      <cds-tile-group>
        <legend slot="legend">Checkbox tile group</legend>
        <cds-selectable-tile> Option 1 </cds-selectable-tile>
        <cds-selectable-tile> Option 2 </cds-selectable-tile>
        <cds-selectable-tile> Option 3 </cds-selectable-tile>
      </cds-tile-group>

      <cds-button-set stacked>
        <cds-button kind="secondary">Secondary button</cds-button>
        <cds-button kind="primary">Primary button</cds-button>
      </cds-button-set>

      <div style="display: flex; align-items: center">
        <cds-toggletip autoalign alignment="bottom" alignment-axis-offset="0">
          this tooltip needs a bigger touch target at least the popover is
          autoaligned

          <p slot="body-text">
            Lorem ipsum dolor sit amet, di os shorter words adipiscing elit, sed
            do eiusmod tempor incididunt ut fsil labore et dolore magna aliqua.
          </p>
          <cds-link href="#" slot="actions">Link action</cds-link>
          <cds-button size="sm" slot="actions">Button</cds-button>
        </cds-toggletip>
      </div>

      <div>
        <cds-file-uploader
          label-title="Upload files"
          label-description="Max file size is 500kb. Only .jpg files are supported."
          input-state="uploading"
          icon-description="Delete file"
          input-name=""
        >
          <cds-file-uploader-button
            accept="image/jpeg"
            name="default-file-uploader-button"
            button-kind="primary"
            size="md"
          >
            Add file
          </cds-file-uploader-button>
        </cds-file-uploader>
      </div>

      <div>
        <cds-file-uploader
          label-title="Upload files"
          label-description="Max file size is 500 KB. Supported file types are .jpg and .png."
          multiple=""
        >
          <cds-file-uploader-drop-container accept="image/jpeg image/png">
            Drag and drop files here or click to upload
          </cds-file-uploader-drop-container>
        </cds-file-uploader>
      </div>

      <div>
        <cds-stack gap="6" orientation="horizontal">
          <cds-form-item>
            <cds-text-input
              {/* inline="" */}
              {/* helper-text="Helper text" */}
              invalid-text="Error message goes here"
              label="Label text"
              max-count="100"
              placeholder="Placeholder text"
              size="md"
              type="text"
              value=""
              warn-text="Warning message that is really long can wrap to more lines but should not be excessively long."
            >
            </cds-text-input>
          </cds-form-item>
          <cds-form-item>
            <cds-text-input
              {/* inline="" */}
              {/* helper-text="Helper text" */}
              invalid-text="Error message goes here"
              label="Label text"
              max-count="100"
              placeholder="Placeholder text"
              size="md"
              type="text"
              value=""
              warn-text="Warning message that is really long can wrap to more lines but should not be excessively long."
            >
            </cds-text-input>
          </cds-form-item>
        </cds-stack>
      </div>

      <div>
        <cds-grid full-width="true" condensed="true">
          <cds-column sm="4"
            ><cds-form-item>
              <cds-text-input
                {/* inline="" */}
                {/* helper-text="Helper text" */}
                invalid-text="Error message goes here"
                label="Label text"
                max-count="100"
                placeholder="Placeholder text"
                size="md"
                type="text"
                value=""
                warn-text="Warning message that is really long can wrap to more lines but should not be excessively long."
              >
              </cds-text-input>
            </cds-form-item></cds-column
          >
          <cds-column sm="4"
            ><cds-form-item>
              <cds-text-input
                {/* inline="" */}
                {/* helper-text="Helper text" */}
                invalid-text="Error message goes here"
                label="Label text"
                max-count="100"
                placeholder="Placeholder text"
                size="md"
                type="text"
                value=""
                warn-text="Warning message that is really long can wrap to more lines but should not be excessively long."
              >
              </cds-text-input>
            </cds-form-item></cds-column
          >
          <cds-column sm="4"
            ><cds-form-item>
              <cds-text-input
                {/* inline="" */}
                {/* helper-text="Helper text" */}
                invalid-text="Error message goes here"
                label="Label text"
                max-count="100"
                placeholder="Placeholder text"
                size="md"
                type="text"
                value=""
                warn-text="Warning message that is really long can wrap to more lines but should not be excessively long."
              >
              </cds-text-input>
            </cds-form-item></cds-column
          >
          <cds-column sm="4"
            ><cds-form-item>
              <cds-text-input
                {/* inline="" */}
                {/* helper-text="Helper text" */}
                invalid-text="Error message goes here"
                label="Label text"
                max-count="100"
                placeholder="Placeholder text"
                size="md"
                type="text"
                value=""
                warn-text="Warning message that is really long can wrap to more lines but should not be excessively long."
              >
              </cds-text-input>
            </cds-form-item></cds-column
          >
        </cds-grid>
      </div>
    </main>
  </body>
</html>
